.introService {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #416788;
}

.introService p p {
    padding-left: 20px;
    font-weight: normal;
    color: #7389ae;
}

.introService ol li {
    display: list-item;
    font-weight: normal;
    color: #7389ae;
    text-align: left;
    margin: 1rem 0;
}